.ImageHolder{
	text-align:center;
	}
	
.Image{
	display:inline-block;
}

#divCenter {
  margin:0px auto;
  width:960px;
  height:auto;
  padding:10px;
}

 #divIDOne {
     margin-right: 0px;
 }

 #divIDTwo {
   margin-left: 20px;
 }

div.titleBar{
    overflow:auto;
		margin-left: -60px;
    /*width:1200px;*/

}
div.content{
	margin-top:23px;
	/*width:1200px;*/
	overflow:auto;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;

}
div.description{
	padding-top:10px;
	padding-left:110px;
	display:inline-block;
	width:800px;
	overflow:hidden;
}
h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:33px;
	font-weight:bold;
	margin-top:10px;
	margin-left:120px;
	margin-right:13px;
	display:inline-block;
}

h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
}

pre{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-style:italic;
	font-weight:bold;
	line-height:1;
	color:rgb(105,160,86);
    margin-left: 360px;
    /*position:relative;
    left: 11%;*/
}

ul.hList{
	display:inline;
	overflow:auto;
    position: absolute;
    left: 360px;

}
ul.hList > li{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	padding-left:12px;
	padding-right:12px;
	display:inline;
}
ul.hList a{
	text-decoration:none;
}


a{
	color:rgb(140,21,21);
	text-decoration:none;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
